---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import { ArticlesList } from '@/components/sections/latest-writing';
import { getAllArticles } from '@/lib/articles';

const articles = await getAllArticles();
---

<DefaultLayout title="Articles">
  <section class="hero-padding container flex flex-col gap-5">
    <h1 class="text-3xl md:text-4xl">Articles & notes</h1>
    <p class="text-muted-foreground text-lg leading-none">
      Full-stack developer who loves building things from idea to launch.
    </p>
  </section>

  <ArticlesList articles={articles} showPinIcon className="pt-0!" client:idle />
</DefaultLayout>
