---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import Logo from '@/components/layout/logo';
import { Button } from '@/components/ui/button';
import { Input } from '@/components/ui/input';
import { Label } from '@/components/ui/label';
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import { cn } from '@/lib/utils';
---

<DefaultLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="grid min-h-svh lg:grid-cols-2">
    <div class="container w-full max-w-sm self-center justify-self-center">
      <form class={cn('flex flex-col py-20 lg:py-0')}>
        <div class="flex flex-col items-center gap-6 text-center">
          <Logo onlyLogo={true} />
          <div class="flex flex-col items-center gap-2">
            <h1 class="text-2xl font-bold">Forgot your password?</h1>
            <p class="text-muted-foreground text-sm">
              No worries, we&apos;ll send you reset instructions
            </p>
          </div>
        </div>
        <div class="mt-6 grid gap-4">
          <div class="grid gap-1.5">
            <Label htmlFor="email">Email</Label>
            <Input
              id="email"
              type="email"
              placeholder="john@example.com"
              required
            />
          </div>
          <Button type="submit" className="mt-2 w-full shadow-none">
            Reset Password
          </Button>
        </div>
        <div class="mt-8 text-center text-sm">
          Remember your password?{' '}
          <a href="/signin" class="font-medium hover:underline">
            Back to sign in
          </a>
        </div>
      </form>
    </div>
    <div
      class="relative hidden bg-[url(/images/gradient.webp)] bg-cover bg-center bg-no-repeat lg:block dark:bg-[url(/images/gradient-dark.webp)]"
    >
    </div>
  </div>
</DefaultLayout>
