---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import { ProjectCard } from '@/components/project-card';
import AboutFavorites from '@/components/sections/about-favorites';
import AboutHero from '@/components/sections/about-hero';
import { ArticlesList } from '@/components/sections/latest-writing';
import { StackGrid } from '@/components/stack-grid';
import { getAllArticles } from '@/lib/articles';
import { getAllProjects } from '@/lib/projects';

const MY_STACK = [
  'typescript',
  'nextjs',
  'figma',
  'nodejs',
  'vercel',
  'tailwind',
  'docker',
  'flyio',
];

const allProjects = await getAllProjects();
const allArticles = await getAllArticles();
const currentlyBuilding = allProjects.filter((p) =>
  ['echo-ui', 'justos'].includes(p.slug)
);
const latestArticles = allArticles.slice(0, 3);
---

<DefaultLayout title="About">
  <AboutHero client:idle />

  <AboutFavorites client:idle />

  <StackGrid stack={MY_STACK} client:idle />

  <section class="section-padding bigger-container space-y-10">
    <div class="container flex items-center justify-between">
      <h2 class="text-2xl leading-none">Currently building</h2>
      <a href="/projects" class="link-underline text-lg leading-none">
        View all
      </a>
    </div>

    <ul class="grid gap-x-5 gap-y-10 md:grid-cols-2">
      {currentlyBuilding.map((project) => (
        <ProjectCard project={project} client:idle />
      ))}
    </ul>
  </section>

  <ArticlesList articles={latestArticles} showHeader client:idle />
</DefaultLayout>
