---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import ProjectsTabs from '@/components/sections/projects-tabs';
import { getAllProjects } from '@/lib/projects';

const projects = await getAllProjects();
---

<DefaultLayout title="Projects">
  <section class="hero-padding">
    <div class="container flex flex-col gap-5">
      <h1 class="text-3xl md:text-4xl">Projects & experiments</h1>
      <p class="text-muted-foreground text-lg leading-none">
        A selection of tools, products, and experiments I've built over the
        years
      </p>
    </div>

    <ProjectsTabs projects={projects} client:load />
  </section>
</DefaultLayout>
