---
import BaseHead from "@/components/BaseHead.astro";
import Banner from "@/components/sections/banner";
import { Footer } from "@/components/sections/footer";
import Navbar from "@/components/sections/navbar";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="h-screen antialiased">
    <Banner
      client:load
      url="https://www.shadcnblocks.com/template/metafi?bundle=astro"
    />
    <Navbar client:load />
    <main><slot /></main>
    <Footer />
  </body>
</html>
